.picked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
  }
  
  .pickButton {
    margin-left: 40px;
    /* margin: auto; */
    display: flex;
  }
  
  .title {
    text-align: center;
    margin: 30px;
  }
  
  .pickMovie {
    display: block;
    align-items: center;
    text-align: center;
  }

  